@model MVC_Test.Models.BillOfMaterialsExpanded

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BillOfMaterialsExpanded</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BomLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BomLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopLevelItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopLevelItem)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopLevelDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopLevelDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComponentItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComponentItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComponentDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComponentDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityPerTop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityPerTop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityPerParent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityPerParent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchasedOrManufactured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchasedOrManufactured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScrapPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScrapPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BomSequence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BomSequence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullSequence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullSequence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasChild)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasChild)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StandardCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandardCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturerCodes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturerCodes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BomDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BomDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BomReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BomReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BomRelease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BomRelease)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BillOfMaterialsExpandedId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
